@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700);
* {
    margin: 0;
    padding: 0;
}
$font: 'Roboto', sans-serif;
$primary-color : #333;

nav {
    height: 10%;
    width: 100%;
    background-image: var(--bs-gradient);
    font-family: $font;
    .container-fluid {
        display: flex;
        justify-content: space-between;
    }
}

.container {
    height: 90%;
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    .login-area {
        width: 80%;
    }
    #tambah-pelanggan {
        width: 80%;
    }
    #data-pelanggan {
        width: 90%;
    }
    form {
        button {
            width: 100%;
        }
    }
}